/node_modules
/public/hot
/public/storage
/public/adminlte/plugins
/public/adminlte/dist/img
/storage/*.key
/vendor
/storage/app/siswa_files
/out
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
