.table-biodata td{
    vertical-align: top;
    padding: 5px;
}

.card-light .nav-item .nav-link {
    color: white;
}

.card-light .nav-item .nav-link.active {
    color: black;
}

.btn-zoom-foto{
    position: absolute;
}

.bg-grey{
    background-color: #eeeeee;
}
